.InfoTable {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.InfoTableRow {
    display: flex;
    flex-direction: row;
    gap: 0.25em;
}

.InfoTableColumn {
    display: flex;
    flex-direction: column;
}

.Node {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 0.1em 0 0 0;

    &.outlined {
        border: 1px solid var(--basic-element-color);
        border-radius: var(--border-radius);
        padding: 0.25em;
    }

    .changed {
        border-color: var(--value-changed-outline);
    }
}

.NodeField {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.25em;
    padding: 0.25em 0 0 0;

    &.horizontal {
        flex-direction: row;
    }
}

.Node > .Node {
    padding: 0 0 0 0.25em;
}
.Node > .NodeField {
    padding: 0 0 0 0.25em;
}
