.DialogContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

.ConfigCreateDialogContainer {
    width: 30vw;
    height: 20vh;

    position: fixed;

    top: 50%;
    right: 2%;
}
