@import url(https://fonts.googleapis.com/icon?family=Comfortaa);
@import 'primeicons/primeicons.css';

* {
    font-family: 'Comfortaa', sans-serif;
}

/* Sizes */
body {
    margin: 0;
}

html, body, #app {
    width: 100%;
    height: 100%;
}

:root {
    text-rendering: optimizeLegibility;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --focus: rgb(180, 206, 255);
}

/* Coloring scheme*/
:root {
    color-scheme: light;

    --background: white;
    --primary-color: #70f1f1;
    --primary-color-second-phase: #d1f4f4;
    --good: #cdf1cd;
    --warn: #f67322;
    --value-changed-outline: #bf6e5c;
    --selected-gradient: linear-gradient(#70f1f1, #05878c);

    --basic-gradient: linear-gradient(#fff9f9, #AAA8A8);
    --basic-element-color: #cbd5e1;

    --border-radius: 8px;
    --text-color-secondary: #7a7a7a;
}

/* PrimeVue overrides*/
:root {
    --p-primary-color: var(--primary-color) !important;
    --p-button-primary-hover-background: var(--primary-color-second-phase) !important;
    --p-button-primary-hover-border-color: var(--primary-color-second-phase) !important;

    --p-toggleswitch-focus-ring-color: var(--primary-color-second-phase) !important;
    --p-toggleswitch-checked-background: var(--primary-color) !important;
    --p-toggleswitch-checked-hover-background: var(--primary-color-second-phase) !important;
    --p-toggleswitch-handle-checked-color: var(--primary-color) !important;
    --p-toggleswitch-handle-checked-hover-color: var(--primary-color) !important;

    --p-floatlabel-focus-color: var(--text-color-secondary) !important;
    --p-floatlabel-active-color: var(--text-color-secondary) !important;
}

/*Font sizes*/
:root {
    font-size: 20px;
}

@media (max-width: 400px) {
    :root {
        font-size: 16px;
    }
}

@media (max-width: 200px) {
    :root {
        font-size: 8px;
    }
}
