.CardContainer {
    width: 100%;
    height: 100%;

    display: flex;

    border-radius: var(--border-radius);
    background-color: var(--main-bg-color);

    padding: 1em;
    box-sizing: border-box;

    cursor: pointer;

    transition: background-color 0.125s ease;

    &:hover {
        background-color: var(--element-border-color-ligher);
    }

    &.NewConfigCard {
        justify-content: center;
        align-items: center;

        gap: 0.5em;

        background-color: var(--accent-bg-color);

        &:hover {
            background-color: var(--accent-bg-color-ligher);
        }
    }

    .NewIcon {
        width: 1em;
        height: 1em;
    }
}
