AUTH-ENABLED=false
CHUNK-STORE-CONFIG_MAX-LOOK-BACK-PERIOD=0s
INGESTER_LIFECYCLER_RING_KVSTORE_STORE=inmemory
INGESTER_LIFECYCLER_RING_REPLICATION-FACTOR=1
INGESTER_WAL_DIR=/loki/wal
INGESTER_WAL_ENABLED=true
LIMITS-CONFIG_ENFORCE-METRIC-NAME=false
LIMITS-CONFIG_REJECT-OLD-SAMPLES=true
LIMITS-CONFIG_REJECT-OLD-SAMPLES-MAX-AGE=168h
SCHEMA-CONFIG_CONFIGS_[0]_FROM=2020-10-24
SCHEMA-CONFIG_CONFIGS_[0]_INDEX_PERIOD=24h
SCHEMA-CONFIG_CONFIGS_[0]_INDEX_PREFIX=index_
SCHEMA-CONFIG_CONFIGS_[0]_OBJECT-STORE=s3
SCHEMA-CONFIG_CONFIGS_[0]_SCHEMA=v11
SCHEMA-CONFIG_CONFIGS_[0]_STORE=boltdb-shipper
SERVER_HTTP-LISTEN-PORT=3100
STORAGE-CONFIG_BOLTDB-SHIPPER_ACTIVE-INDEX-DIRECTORY=/loki/index
STORAGE-CONFIG_BOLTDB-SHIPPER_CACHE-LOCATION=/loki/cache
STORAGE-CONFIG_BOLTDB-SHIPPER_SHARED-STORE=s3
STORAGE-CONFIG_S3_ACCESS-KEY-ID=minioadmin
STORAGE-CONFIG_S3_BUCKETNAMES=loki
STORAGE-CONFIG_S3_ENDPOINT=minio:9000
STORAGE-CONFIG_S3_INSECURE=true
STORAGE-CONFIG_S3_SECRET-ACCESS-KEY=minioadmin
TABLE-MANAGER_RETENTION-DELETES-ENABLED=true
TABLE-MANAGER_RETENTION-PERIOD=168h
