APP-INFO_NAME=matreshka-be
APP-INFO_STARTUP-DURATION=10s
APP-INFO_VERSION=v1.0.94
DATA-SOURCES_SQLITE_MIGRATIONS-FOLDER=./migrations
DATA-SOURCES_SQLITE_PATH=./data/matreshka-be.db
ENVIRONMENT_PASS_TYPE=string
SERVERS_MASTER_/{FS}_DIST=web/dist
SERVERS_MASTER_/{GRPC}_GATEWAY=/api
SERVERS_MASTER_/{GRPC}_MODULE=pkg/matreshka_be_api
SERVERS_MASTER_PORT=50049
